
.header {
    color: #054f77;
}
h3 {
    color: #808080;
}
.newtask {
    margin-bottom: 20px;
    padding-top:50px;
    padding-bottom:50px;
}
.newtask a{
    text-decoration:none;
    font-size:18px;
    color: #054f77;
}
.newtask a:hover {
    color:#007FFF;
}
td {
    vertical-align: middle !important;
}
.btn-primary {
    background-color: #054f77;
    border-color: #054f77;
}
.model {
    display: none;
}

