.navbar-light .navbar-nav .nav-link {
    color: #ccc;
}
h4{
    color: #e3f2fd;
}
h3 {
    margin-top: 20px;
    color: #808080;
}
.newtask {
    margin-bottom: 20px;
    padding-top:50px;
    padding-bottom:50px;
    display: inline-block;
}
.newtask a{
    text-decoration:none;
    font-size:18px;
    color: #054f77;
}
.newtask a:hover {
    color:#007FFF;
}
.importcsv {
    float: right;
    margin-bottom: 20px;
    padding-top: 50px;
}
td {
    vertical-align: middle !important;
}
.btn-primary {
    background-color: #054f77;
    border-color: #054f77;
    margin-bottom: 2px;
    margin-top: 2px;
}
.model {
    display: none;
}

